@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
	font-family: "Oswald";
}
.container{
	position: relative;
	width: 50%;
	text-align: center;
}
.img{
	position: relative;
	display: block;
	width: 40%;
	height: 1000px;
	transform: translate(-50%);
	left: 50%;
	margin-bottom: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}
.img #opis{
	user-select: none;
	position: relative;
	top: 100%;
	display: inline-block;
	color:red;
}
.img #num{
	position: relative;
	float: left;
	top:89%;
	left:-20px;
	font-weight: bold;
	font-size: 25px;
	background-color: #ffffff;
	padding-left:20px;
	padding-right: 20px;
	padding-top:15px;
	padding-bottom: 15px;
	border-radius: 30px;
}
.obyed{
	position: relative;
	display: inline-block;
	width: 100%;
}
.img1{
	background-image: url("https://tvoirecepty.ru/files/imagecache/recept_page_photo_big/recept/recept-zharenyi-perets-shag.jpg");
}
.img2{
	background-image: url("https://tvoirecepty.ru/files/imagecache/recept_page_photo_two_col/recept/recept-zharenyi-perets-shag_0.jpg");
}
.img3{
	background-image: url("https://tvoirecepty.ru/files/imagecache/recept_page_photo_two_col/recept/recept-zharenyi-perets-shag_1.jpg");
}
.img4{
	background-image: url("https://tvoirecepty.ru/files/imagecache/recept_page_photo_two_col/recept/recept-zharenyi-perets-shag_2.jpg");
}
.img5{
	background-image: url("https://tvoirecepty.ru/files/imagecache/recept_page_photo_two_col/recept/recept-zharenyi-perets.jpg");
}
